// Variables
$background-color: black;
$text-color: white;
$font-family: Georgia, serif;
$max-image-width: 80%;

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

h1 {
    text-align: center;
    position: absolute;
    z-index: 1;
}

a {
    display: block;
    margin: 0 auto;
    max-width: $max-image-width;
    position: relative;
    z-index: 0;
}

img {
    width: 100%;
    height: auto;
}
